body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
.info-circle{
display: inline-flex;
align-items: center;
justify-content: center;
width: 20px;
height: 20px;
background: #ffffff;
border-radius:32px;
position: fixed;
top: 20px;
color: #000000;
font-weight: bold;
right: 20px;
border: 3px solid #444;
cursor: pointer;
}

.chat-container {
display: flex;
flex-direction: column;
min-height: 100vh;
background-color: #ffffff;
font-family: Arial, sans-serif;
font-size: 16px;
width: calc(100% - 280px);
margin-left: 280px;
}
.message-thread {
flex: 1;
display: flex;
flex-direction: column;
padding: 30px 50px;
margin-bottom: 100px;
p{
    display: flex;
    align-items: baseline;
margin-top:0;
}
}
.bot{
display: flex;
    width: 38px;
    align-self: flex-start;
    height: 38px;
    background: #343541;
    border-radius: 38px;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
    font-family: Arial;
    margin-right: 20px;
    color: #f2f2f2;
}
.center-align{
flex: 1 1;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding-bottom: 60px;
}
.message-bubble {
    display: flex;
    max-width: 80%;
    align-self: center;
}
.user{
    display: flex;
    width: 38px;
    align-self: center;
    height: 38px;
    background: #f2f2f2;
    border-radius: 38px;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
    font-family: Arial;
    margin-right: 20px;
}
.user-message-bubble {
align-self: flex-end;
background-color: #d5dcf5;
color: #333333;
max-width: 80%;
padding: 8px 12px;
border-radius: 5px;
font-weight: bold;

}
.input-wrapper{
    text-align: center;
background-color: #f2f2f2;
position: fixed;
bottom: 0;
width: calc(100% - 280px);
}
.message-input {
display: flex;
align-items: center;
padding: 20px 50px 30px;
position: relative;
}

.message-input-field {
flex: 1;
border: none;
outline: none;
border-radius: 20px;
padding: 8px 12px;
font-size: 16px;
}

// .message-send-button {
// background-color: transparent;
// border: none;
// outline: none;
// border-radius: 20px;
// padding: 8px 12px;
// font-size: 16px;
// cursor: pointer;
// position: absolute;
// right: 60px;
// }

.regenerate-btn{
    padding: 12px;
    margin-top: 20px;
    background: #eee;
    border: 1px solid #666666;
    border-radius: 2px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}


  input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1rem;
    padding: 12px;
    width: 100%;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
  }

  button[type="submit"] {
    background-color: #333;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    margin-left: 10px;
    padding: 12px;
  }

  button[type="submit"]:hover {
    background-color: #444;
  }
  .history-item{
        background-color: rgba(52,53,65,1);
        border: 0;
        width: 100%;
        color: rgba(236,236,241,1);
        font-weight: 500;
        font-size: 14px;
        padding: 12px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        svg{
            margin-right: 10px;
        }
  }

  .conversation-history-card {
   position: fixed;
   color: white;
   top: 0;
   bottom: 0px;
   left: 0px;
   width: 260px;
   background-color: black;
   box-shadow: 0 0 5px rgba(0,0,0,0.3);
   padding: 10px;
   h2{
       margin-bottom: 20px;
       font-size: 18px;
        font-weight: 400;
        margin: 10px 10px 30px;
   }
  }

.conversation-history-list {
max-height: 500px;
overflow-y: scroll;
}

.conversation-history-list p {
margin: 0 0 10px;
}
